body    {
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    display: block;
}

/*body*/
.body   {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 0 0 0;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    background-color: #fff;
}


/*head */

.head   {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.head   .firstop    {
    width: auto;
    height: auto;
    justify-content: space-between;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
}

.head   .firstop    .logoimg    {
    display: block;
}

.head   .firstop    .logoimg    a   {
    text-decoration: none;
    padding: 0;
}

.head   .firstop    .logoimg    a:hover {
    cursor: pointer;
}

.head   .firstop    .logoimg    a   img {
    resize: both;
    height: 90px;
    width: auto;
    padding: 14px 0 14px 0;
    background-color: transparent;
}

.head   .firstop    .openmenu   {
    display: none;
}

.head   .sidenav    {
    display: inline-block;
    justify-content: space-between;
    padding: 36px 0 0 0;
    margin: 0 auto;
    width: auto;
}

.head   .sidenav    a   {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    display: inline-block;
    font-weight: 900;
    padding: 12px 12px 12px 12px;
}

.head   .sidenav    .closebtn   {
    display: none;
    position: relative;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0 auto;
}

/*main-content*/
.main-content   {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
}

.main-content   .intro  {
    width: auto;
    height: auto;
    display: block;
    padding: 0;
    margin: 0 auto;
    justify-content: flex-end;
    background-color: #00f;
}

.main-content   .intro  h1  {
    font-family: monospace;
    color: #fff;
    font-weight: 900;
    font-size: 36px;
    padding: 14px 16px 14px 10vw;
}

.main-content   .intro  p   {
    font-size: 14px;
    font-family: monospace;
    color: #fff;
    padding: 14px 16px 14px 10vw;
}



/*hours*/
.business-hours {
    position: relative;
    background: #222;
    padding: 40px 14px;
    margin: 0 auto 15px auto;
    max-width: 500px;
    height: auto;
    background-color: #f00;
}

.business-hours .title  {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 5px;
    border-left: 4px solid #00f; 
}

.business-hours li  {
    color: #fff;
    line-height: 30px;
    border-bottom: 1px solid #333; 
}

.business-hours li:last-child   {
    border-bottom: none; 
}








/*footer*/
.section    {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: auto;
    text-align: center;
    padding: 32px 0 0 0;
    background-color: #00f;
}

.section    .linksto    {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0;
    margin: 16px 0 0 0;
}

.section    .linksto    a   {
    text-decoration: none;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.section    .linksto    a:hover {
    cursor: pointer;
}

.section    .linksto    a   i   {
    font-size: 14px;
    padding: 12px 14px;
    color: #fff;
}

.section    .ritenote   {
    width: 100vw;
    height: auto;
    display: block;
}

.section    .ritenote   p   {
    font-size: 14px;
    font-family: monospace;
    color: #fff;
    padding: 12px 14px;
}

.section    .ritenote   p   a   {
    text-decoration: none;
    color: #fff;
}



@media only screen and (max-width: 319px)   {
    .head   {
        width: 100%;
        height: auto;
        display: block;
    }

    .head   .firstop    {
        width: 100%;
        height: auto;
        justify-content: space-around;
        display: flex;
    }

    .head   .firstop    .logoimg    {
        justify-content: space-between;
        display: inline-block;
        padding: 0;
        margin: 0 auto;
    }

    .head   .firstop    .logoimg    a   {
        text-decoration: none;
        padding: 0;
    }

    .head   .firstop    .logoimg    a:hover {
        cursor: pointer;
    }

    .head   .firstop    .logoimg    a   img {
        resize: both;
        height: 124px;
        width: auto;
        padding: 0 0 14px 0;
    }

    .head   .firstop    .openmenu   {
        justify-content: space-between;
        display: inline-block;
        padding: 28px 0 0 0;
        margin: 0 auto;
        font-size: 36;
    }

    .head   .sidenav    {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        height: auto;
        width: 100%;
        overflow-x: hidden;
        padding: 48px 0 0 0;
        margin: 0 auto;
        text-align: center;
    }

    .head   .sidenav    a   {
        text-decoration: none;
        font-size: 16px;
        display: block;
        font-weight: 900;
        padding: 16px 0 12px 0;
    }

    .head   .sidenav    .closebtn   {
        position: absolute;
        top: 0;
        right: 0;
        padding: 12px 24px 0 0;
        font-size: 36px;
        display: block;
    }




}

@media only screen and (min-width: 320px) and (max-width: 479px)   {
    .head   {
        width: 100%;
        height: auto;
        display: block;
    }

    .head   .firstop    {
        width: 100%;
        height: auto;
        justify-content: space-around;
        display: flex;
    }

    .head   .firstop    .logoimg    {
        justify-content: space-between;
        display: inline-block;
        padding: 0;
        margin: 0 auto;
    }

    .head   .firstop    .logoimg    a   {
        text-decoration: none;
        padding: 0;
    }

    .head   .firstop    .logoimg    a:hover {
        cursor: pointer;
    }

    .head   .firstop    .logoimg    a   img {
        resize: both;
        height: 136px;
        width: auto;
        padding: 0 0 14px 0;
    }

    .head   .firstop    .openmenu   {
        justify-content: space-between;
        display: inline-block;
        padding: 32px 0 0 0;
        margin: 0 auto;
        font-size: 36;
    }

    .head   .sidenav    {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        height: auto;
        width: 100%;
        overflow-x: hidden;
        padding: 48px 0 0 0;
        margin: 0 auto;
        text-align: center;
    }

    .head   .sidenav    a   {
        text-decoration: none;
        font-size: 16px;
        display: block;
        font-weight: 900;
        padding: 16px 0 12px 0;
    }

    .head   .sidenav    .closebtn   {
        position: absolute;
        top: 0;
        right: 0;
        padding: 12px 24px 0 0;
        font-size: 36px;
        display: block;
    }



}

@media only screen and (min-width: 480px) and (max-width: 599px)   {
    .head   {
        width: 100%;
        height: auto;
        display: block;
    }

    .head   .firstop    {
        width: 100%;
        height: auto;
        justify-content: space-around;
        display: flex;
    }

    .head   .firstop    .logoimg    {
        justify-content: space-between;
        display: inline-block;
        padding: 0;
        margin: 0 auto;
    }

    .head   .firstop    .logoimg    a   {
        text-decoration: none;
        padding: 0;
    }

    .head   .firstop    .logoimg    a:hover {
        cursor: pointer;
    }

    .head   .firstop    .logoimg    a   img {
        resize: both;
        height: 148px;
        width: auto;
        padding: 0 0 14px 0;
    }

    .head   .firstop    .openmenu   {
        justify-content: space-between;
        display: inline-block;
        padding: 48px 0 0 0;
        margin: 0 auto;
        font-size: 36;
    }

    .head   .sidenav    {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        height: auto;
        width: 100%;
        overflow-x: hidden;
        padding: 48px 0 0 0;
        margin: 0 auto;
        text-align: center;
    }

    .head   .sidenav    a   {
        text-decoration: none;
        font-size: 16px;
        display: block;
        font-weight: 900;
        padding: 16px 0 12px 0;
    }

    .head   .sidenav    .closebtn   {
        position: absolute;
        top: 0;
        right: 0;
        padding: 12px 24px 0 0;
        font-size: 36px;
        display: block;
    }



}

@media only screen and (min-width: 600px) and (max-width: 767px)   {
    .head   {
        width: 100%;
        height: auto;
        display: block;
    }

    .head   .firstop    {
        width: 100%;
        height: auto;
        justify-content: space-around;
        display: flex;
    }

    .head   .firstop    .logoimg    {
        justify-content: space-between;
        display: inline-block;
        padding: 0;
        margin: 0 auto;
    }

    .head   .firstop    .logoimg    a   {
        text-decoration: none;
        padding: 0;
    }

    .head   .firstop    .logoimg    a:hover {
        cursor: pointer;
    }

    .head   .firstop    .logoimg    a   img {
        resize: both;
        height: 156px;
        width: auto;
        padding: 0 0 14px 0;
    }

    .head   .firstop    .openmenu   {
        justify-content: space-between;
        display: inline-block;
        padding: 52px 0 0 0;
        margin: 0 auto;
        font-size: 36;
    }

    .head   .sidenav    {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        height: auto;
        width: 100%;
        overflow-x: hidden;
        padding: 48px 0 0 0;
        margin: 0 auto;
        text-align: center;
    }

    .head   .sidenav    a   {
        text-decoration: none;
        font-size: 16px;
        display: block;
        font-weight: 900;
        padding: 16px 0 12px 0;
    }

    .head   .sidenav    .closebtn   {
        position: absolute;
        top: 0;
        right: 0;
        padding: 12px 24px 0 0;
        font-size: 36px;
        display: block;
    }


}

@media only screen and (min-width: 768px) and (max-width: 991px)   {
    .head   {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
    }

    .head   .firstop    {
        width: auto;
        height: auto;
        justify-content: space-between;
        display: inline-block;
        padding: 0;
        margin: 0 auto;
    }

    .head   .firstop    .logoimg    {
        display: block;
    }

    .head   .firstop    .logoimg    a   {
        text-decoration: none;
        padding: 0;
    }

    .head   .firstop    .logoimg    a:hover {
        cursor: pointer;
    }

    .head   .firstop    .logoimg    a   img {
        resize: both;
        height: 156px;
        width: auto;
        padding: 0 0 14px 16px;
    }

    .head   .firstop    .openmenu   {
        display: none;
    }

    .head   .sidenav    {
        display: inline-block;
        justify-content: space-between;
        padding: 54px 0 0 0;
        margin: 0 auto;
        width: auto;
    }

    .head   .sidenav    a   {
        text-decoration: none;
        font-size: 16px;
        display: inline-block;
        font-weight: 900;
        padding: 12px 12px 12px 12px;
    }

    .head   .sidenav    .closebtn   {
        display: none;
    }

    .main-content   .intro  {
        width: 100%;
        height: auto;
        display: block;
        padding: 0;
        justify-content: flex-end;
    }
    
    .main-content   .intro  h1  {
        font-family: monospace;
        font-weight: 900;
        font-size: 42px;
        padding: 14px 16px 14px 10vw;
    }
    
    .main-content   .intro  p   {
        font-size: 18px;
        font-family: monospace;
        padding: 14px 10vw;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px)   {
    .head   {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
    }

    .head   .firstop    {
        width: auto;
        height: auto;
        justify-content: space-between;
        display: inline-block;
        padding: 0;
        margin: 0 auto;
    }

    .head   .firstop    .logoimg    {
        display: block;
    }

    .head   .firstop    .logoimg    a   {
        text-decoration: none;
        padding: 0;
    }

    .head   .firstop    .logoimg    a:hover {
        cursor: pointer;
    }

    .head   .firstop    .logoimg    a   img {
        resize: both;
        height: 156px;
        width: auto;
        padding: 0 0 14px 16px;
    }

    .head   .firstop    .openmenu   {
        display: none;
    }

    .head   .sidenav    {
        display: inline-block;
        justify-content: space-between;
        padding: 54px 0 0 0;
        margin: 0 auto;
        width: auto;
    }

    .head   .sidenav    a   {
        text-decoration: none;
        font-size: 16px;
        display: inline-block;
        font-weight: 900;
        padding: 12px 12px 12px 12px;
    }

    .head   .sidenav    .closebtn   {
        display: none;
    }

    .main-content   .intro  {
        width: 100%;
        height: auto;
        display: block;
        padding: 0;
        justify-content: flex-end;
    }
    
    .main-content   .intro  h1  {
        font-family: monospace;
        font-weight: 900;
        font-size: 48px;
        padding: 14px 16px 14px 10vw;
    }
    
    .main-content   .intro  p   {
        font-size: 18px;
        font-family: monospace;
        padding: 14px 10vw;
    }
}

@media only screen and (min-width: 1200px)   {
    .head   {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
    }

    .head   .firstop    {
        width: auto;
        height: auto;
        justify-content: space-between;
        display: inline-block;
        padding: 0;
        margin: 0 auto;
    }

    .head   .firstop    .logoimg    {
        display: block;
    }

    .head   .firstop    .logoimg    a   {
        text-decoration: none;
        padding: 0;
    }

    .head   .firstop    .logoimg    a:hover {
        cursor: pointer;
    }

    .head   .firstop    .logoimg    a   img {
        resize: both;
        height: 156px;
        width: auto;
        padding: 0 0 14px 16px;
    }

    .head   .firstop    .openmenu   {
        display: none;
    }

    .head   .sidenav    {
        display: inline-block;
        justify-content: space-between;
        padding: 54px 0 0 0;
        margin: 0 auto;
        width: auto;
    }

    .head   .sidenav    a   {
        text-decoration: none;
        font-size: 16px;
        display: inline-block;
        font-weight: 900;
        padding: 12px 12px 12px 12px;
    }

    .head   .sidenav    .closebtn   {
        display: none;
    }

    .main-content   .intro  {
        width: 100%;
        height: auto;
        display: block;
        padding: 0;
        justify-content: flex-end;
    }
    
    .main-content   .intro  h1  {
        font-family: monospace;
        font-weight: 900;
        font-size: 64px;
        padding: 14px 16px 14px 10vw;
    }
    
    .main-content   .intro  p   {
        font-size: 18px;
        font-family: monospace;
        padding: 14px 10vw;
    }

}
